<ActionBar title="My App"> </ActionBar>

<GridLayout>
  <ContentView height="100%" width="100%">
    <Mapbox
        accessToken="Default_public_token Goes here."
        mapStyle="traffic_day"
        latitude="53.27631636816265"
        longitude="-9.056471261908936"
        hideCompass="true"
        zoomLevel="15"
        showUserLocation="false"
        disableZoom="false"
        disableRotation="false"
        disableScroll="false"
        disableTilt="false">
    </Mapbox>
  </ContentView>
</GridLayout>
